# Slack app token for socket-mode event handling
# (if not specified in ELEVENBOT_APP_TOKEN env var)
app-token: TOKEN
# Slack API token (if not specified in ELEVENBOT_TOKEN env var)
token: TOKEN

# If specified, ignore everything but the specified channels
channels-allow: []
# Ignore the specified channels
channels-deny: []

# Cron-format time to do the weekly grouping.  Must fire exactly 1x/week.
weekly-grouping-schedule: "0 4 * * 1"
# Factor to apply to old cost records every week
cost-falloff: 0.96

# UIDs of users allowed to run admin commands
admins:
  - UID
  - UID
